/*html,
body {
	padding: 0;
	margin: 0;
}

body {
	font-family: -apple-system, 'Helvetica Neue', Helvetica, sans-serif;
}

header {
	position: absolute;
	width: 500px;
	height: 250px;
	top: 50%;
	left: 50%;
	margin-top: -125px;
	margin-left: -250px;
	text-align: center;
}

header h1 {
	font-size: 60px;
	font-weight: 100;
	margin: 0;
	padding: 0;
}*/

:root {
	--box-shadow-1: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);
	--box-shadow-2: 0 4px 5px 0 rgba(0,0,0,0.14), 0 1px 10px 0 rgba(0,0,0,0.12), 0 2px 4px -1px rgba(0,0,0,0.3);
	--box-shadow-4: 0 8px 10px 1px rgba(0,0,0,0.14), 0 3px 14px 2px rgba(0,0,0,0.12), 0 5px 5px -3px rgba(0,0,0,0.3);
	--light-blue: #03a9f4;
}

body {
	height: 100vh;
	overflow-y: hidden;
}

.main-container {
	height: 100%;
	display: flex;
	flex-direction: column;
}

.error-box {
	height: 60%;
	margin: 1rem 3rem;
	padding: 1rem;
	border-radius: 5px;
	transition: all .3s ease;
	display: flex;
	align-items: center;
	flex-direction: column;
	overflow-y: scroll;
}

.file-drop {
	margin: 1rem 3rem;
	padding: 1rem;
	border-radius: 5px;
	transition: all .3s ease;
	border: 10px dashed var(--light-blue);
}

.error-box:hover, .file-drop:hover {
	box-shadow: var(--box-shadow-1);
	transform: translateY(2px);
}

.image-container {
	display: flex;
	align-items: center;
	justify-content: center;
}

.image-container img {
	display: block;
	max-height: 100%;
	max-width: 100%;
}

.error {
	display: block;
	width: 98%;
	padding: 1rem;
	border-radius: 5px;
	margin: 0.5% 0;
}

.error p {
	font-weight: bold;
}

::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}
